@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.contenedorFooter {
  background-color: #000000;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  
}

footer .content {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .content p,
a {
  color: #fff;
}

footer .content .box {
 
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: center;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}
footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;

  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #000000;
  background: #fd0101;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #fd0101;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover {
  color: #fd0101;
}

.linkFooter {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

.mejores{
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}

.linkFooter :visited {
  text-decoration: none;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #fd0101;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #fff;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #fff;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

.logoFooter {
  margin-left: -30px;
}

div.container-footer.w-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 40px;
  padding-top: 70px;
  background-color: #000000;
}
