* {
  padding: 0;
  margin: 0;
}

.contenedorCentro {
  display: flex;
  justify-content: center;
  min-height: 600px;
  padding: 100px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
}

.card {
  position: relative;
  width: 450px;
  height: 800px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  margin: 15px 20px;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-20px);
}

.card .head {
  height: 125px;
  width: 100%;
  position: relative;
}

.card .head .circle {
  position: absolute;
  width: 450px;
  height: 300px;
  border-radius: 50%;
  background: #fd0101;
  bottom: 0;
}

.card .head .img {
  width: 150px;
  height: 150px;
  position: absolute;
  background: #111;
  padding: 5px;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%);
}

.card .head .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card .descripcion {
  height: 200px;
  padding: 40px 20px 20px 20px;
  text-align: center;
}

.card .descripcion h3 {
  color: #111;
}

.card .descripcion h4 {
  color: #111;
}

.card .descripcion p {
  margin-top: 20px;
  font-size: 15px;
  color: #111;
}

.card .contacto {
  width: 90%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 23px;
}

.card .contacto p {
  text-decoration: none;
  color: #fff;
  background: #111;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

/* .card .contacto a:hover {
  background: #fed306;
  color: #111;
} */

.accion {
  display: block;
  background-color: #111;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.accion:hover {
  background-color: #fed306;
  color: #111;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.contenedorFooter {
  background-color: #000000;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer .content p,
a {
  color: #fff;
}

footer .content .box {
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: center;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}
footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;

  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #000000;
  background: #fd0101;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #fd0101;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover {
  color: #fd0101;
}

.linkFooter {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.mejores {
  text-align: left;
  font-family: "Ubuntu", sans-serif;
}

.linkFooter :visited {
  text-decoration: none;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #fd0101;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #fff;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #fff;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

.logoFooter {
  margin-left: -30px;
}

div.container-footer.w-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-bottom: 40px;
  padding-top: 70px;
  background-color: #000000;
}
