*{
    padding: 0;
    margin: 0;
}

.contenedorNosotros {
    display: flex;
    justify-content: center;
    margin: 45px;
  }

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 50px;
}
.slide .imgSlide{
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7p 7px 0px #00000042;
    cursor: 
    margin 10px;
    transition: 400ms;
}
.slide .imgSlide:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}